### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Flutter/Dart ###
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

### Android ###
android/.gradle
android/local.properties
android/gradle-wrapper.jar
android/app/*.jks
android/key.properties
*.jks

### iOS ###
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
# Pacotes e material da loja (gerados, pesados)
play-store/
